# BEAST
BEAST_ENVIRONMENT=
BEAST_COUNTRY=
BEAST_CURRENCY=
BEAST_LANGUAGE=

# BEAST API
BEAST_API_URL=

# GOOGLE AUTH
# GOOGLE AUTH
GOOGLE_AUTH_EXPO_CLIENT_ID=
GOOGLE_AUTH_WEB_CLIENT_ID=
GOOGLE_AUTH_IOS_CLIENT_ID=
GOOGLE_AUTH_ANDROID_CLIENT_ID=

# FACEBOOK AUTH
FACEBOOK_AUTH_CLIENT_ID=
FACEBOOK_AUTH_NATIVE_REDIRECT=

# MERCADO PAGO AUTH
MERCADO_PAGO_AUTH_URL=
MERCADO_PAGO_AUTH_CLIENT_ID=
MERCADO_PAGO_AUTH_REDIRECT_URI=

# FIREBASE
API_KEY=
AUTH_DOMAIN=
DATABASE_URL=
PROJECT_ID=
STORAGE_BUCKET=
MESSAGING_SENDER_ID=
APP_ID=
MEASUREMENT_ID=

# GOOGLE MAPS
GOOGLE_MAPS_API_KEY=
GOOGLE_MAPS_API_URL=
GOOGLE_MAPS_URL=
GOOGLE_MAPS_CUSTOM_MARKER=